html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #eeeeec;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.main-title {
  margin-top: 10;
}

footer { text-align: center; margin-top: 100}

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}
